@font-face {
    font-family: 'Arcade';
    src: url('../font/Arcade.ttf');
}

@font-face {
    font-family: 'Caveat';
    src: url('../font/Caveat.ttf');
}

@font-face {
    font-family: 'Edu';
    src: url('../font/Edu.ttf');
}

@font-face {
    font-family: 'Sour';
    src: url('../font/Sour.ttf');
}

*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: auto;
    scroll-behavior: smooth;
}

body {
    text-align: center;
    font-family: sans-serif;
}

body #title {
    font-family: 'Sour';
}

#githubIcon {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
    font-size: 40px;
    color: black;
    cursor: pointer;
    transition: all 0.2s;
}

#githubIcon:hover {
    color: gray;
}

kbd {
    font-weight: bold;
    background: rgba(183, 183, 183, 0.75);
    padding: 5px;
    border-radius: 5px;
}

a:visited {
    color: blue;
}

a:active {
    color: red;
}

h1 {
    font-size: 3rem;
    padding: 0;
}

p {
    padding: 0;
}

canvas {
    position: relative;
    margin: 0;
    padding: 0;
}

.instruction-link {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    font-family: 'Arcade';
    animation-duration: 3s;
}

@keyframes instruction-highlight-aniamtion {
    0% {
        color: blue;
    }

    50% {
        color: gold;
    }

    100% {
        color: blue;
    }
}

.instruction-link i {
    background: lightgray;
    border-radius: 50%;
    margin-right: 5px;
}

.instruction-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
}

.instruction {
    position: absolute;
    top: 0;
    left: 50%;
    visibility: hidden;
    width: 300px;
    height: 500px;
    opacity: 0;
    transform: translate(-50%, -50%);
    transition: all 0.3s;
    border: 2px solid black;
    border-radius: 20px;
    padding: 10px;
    background: lightgray;
    z-index: 1000;
}

.instruction-show {
    visibility: visible;
    top: 50%;
    opacity: 1;
}

.check-instruction-alert {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(42, 51, 45, 0.8);
    color: white;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    padding: 5px;
    position: absolute;
    width: 400px;
    margin-top: 170px;
    visibility: hidden;
    opacity: 0;
    transition: all 1s;
}

.check-instruction-alert-show {
    visibility: visible;
    opacity: 1;
}

.instruction-icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.check-instruction-alert i {
    background: transparent;
}

#closeAlertInstructionArrow {
    font-size: 50px;
    font-weight: bold;
    align-self: center;
    justify-self: center;
}

#closeAlertInstruction {
    font-size: 20px;
    position: absolute;
    align-self: flex-start;
    margin-left: 95%;
    cursor: pointer;
}

.instruction .instruction-content p,
.instruction .instruction-content h2 {
    display: inline-block;
}

.instruction i {
    position: relative;
    transform: scale(1.5);
    float: right;
    color: white;
    background: black;
    border-radius: 50%;
    cursor: pointer;
}

.instruction i:hover {
    color: rgba(255, 255, 255, 0.8);
}

.instruction-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 999;
    visibility: hidden;
    background: rgba(211, 211, 211, 0.5);
    opacity: 0;
    transition: all 0.3s;
    margin: 0;
    padding: 0;
}

.instruction-background-show {
    visibility: visible;
    opacity: 1;
}

.unlock-ability {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    margin: 0;
    width: fit-content;
    height: fit-content;
    background: lightgray;
    border: 2px solid black;
    border-radius: 10px;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s;
    z-index: 1000;
}

.unlock-ability-show {
    visibility: visible;
    opacity: 1;
    top: 50%;
}

.unlock-ability h2,
.unlock-ability p {
    margin: 5px;
    padding: 0;
}

.unlock-ability img {
    display: block;
    width: 50%;
    height: 50%;
    border-radius: 10%;
    margin: 10px;
}

.unlock-ability i {
    display: inline;
    position: relative;
    float: right;
    font-size: 1.5rem;
    color: white;
    align-self: flex-end;
    background: black;
    border-radius: 50%;
    cursor: pointer;
}

.unlock-ability i:hover {
    color: rgba(255, 255, 255, 0.8);
}

.dialogue-reminder {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, -50%);
    width: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 2px solid;
    border-radius: 10px;
    padding: 5px;
    background: rgba(183, 183, 183, 0.8);
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s;
}

.dialogue-reminder-show {
    visibility: visible;
    opacity: 1;
    top: 10%;
}

.dialogue-reminder i {
    font-size: 20px;
    margin-right: 5px;
}

/* Acticated the font */
#arcadeFont {
    font-family: 'Arcade';
    font-size: 0px;
    visibility: hidden;
}

#caveatFont {
    font-family: 'Caveat';
    font-size: 0px;
    visibility: hidden;
}